%h1
  About Page
%p
  %a{:href => "http://railstutorial.org/feedback", :target => "_blank"} Ruby on Rails Tutorial
  is a project to make a book and screencasts to teach web development with
  %a{:href => "http://rubyonrails.org/", :target => "_blank" }Ruby on Rails
  This is the sample application for the tutorial.
